<h1>Edit Password</h1>


<%= form_with model: Current.user, url: update_password_path  do |form| %>
    <%= render "shared/forms_error", form: form %>

    <div class="mb-3">
        <%= form.label :password, class: "form-label" %>
        <%= form.password_field :password, class: "form-control", placeholder: "password" %>
    </div>

    <div class="mb-3">
        <%= form.label :password_confirmation, class: "form-label" %>
        <%= form.password_field :password_confirmation, class: "form-control", placeholder: "password" %>
    </div>

    <%= form.submit "Update Password", class: "btn btn-primary" %>
<% end %>
</div>